// ========================================================
// Class Items Tabs Container
// ========================================================

.fh-tabs-container {
  max-width: 775px;
}

.fh-index-list {
  list-style: none;
  column-count: 2;
  column-gap: 1rem;
  padding-left: 0;
  margin-bottom: 30px;
}
