// ========================================================
// Class Meta Styles
// ========================================================

/*
 * Meta attributes in fountainhead aren't as in your face. This data typically
 * isn't what you really want to know, so there's no reason for it to grab your
 * attention when you land. This lets you naturally scan down to the component
 * documentation.
 */

.fh-class-meta {
  margin-bottom: 40px;

  .fh-meta {
    line-height: 1;
    margin-bottom: 1px;
  }

  .meta-access,
  .meta-extends,
  .meta-defined,
  .meta-uses,
  .meta-module {
    text-transform: uppercase;
    color: $rhino;
  }

  .fh-public { color: $success; }
  .fh-private { color: $alert; }
}
