/*
 * Meta attributes in fountainhead aren't as in your face. This data typically
 * isn't what you really want to know, so there's no reason for it to grab your
 * attention when you land. This lets you naturally scan down to the component
 * documentation.
 */

// extends && defined wrapper
.doc-meta {
  margin-bottom: 2rem;

  .meta-extends,
  .meta-defined,
  .meta-uses,
  .meta-module {
    text-transform: uppercase;
    color: $gray-1; // TODO: this isn't available in fountainhead!
  }
}

// constructor wrapper
// .fountain-constructor {
//   margin-bottom: 3rem;
//
//   .constructor-title,
//   .method-signature {
//     font-weight: 300;
//   }
//
//   .method-signature {
//     margin-bottom: 0;
//   }
// }
