// Variables
// ========================================================

// Elements
// -----------------------------------------------------------------------------
$box-shadow: 0 2px 6px #aca8a5;
$radius: 3px;
$light-border: #e0e0df;

// Typography
// -----------------------------------------------------------------------------
$base-font-size: 14;
$font-family: 'Lato', Arial, sans-serif;
$anchor-font-color: #1EAEDB;
$anchor-font-color-hover: #0FA0CE;

$h1-size: 48 / $base-font-size;
$h2-size: 36 / $base-font-size;
$h3-size: 24 / $base-font-size;
$h4-size: 18 / $base-font-size;
