{{#each items as |item|}}
  <li class="item-group-item">
    {{link-to item.name item.type item.id classNames="item-link"}}
    {{#if item.subItems}}
      {{docs-sidebar.item-group items=item.subItems}}
    {{/if}}
  </li>
{{else}}
  <li class="item-group-item">Give me some items to display!</li>
{{/each}}
