// ========================================================
// Fountainhead Application Styles
// ========================================================

/*
 * Styles that apply to the fountainhead application wrappers or across multiple
 * components should be located here
 */

/*
 * Fountainhead is intended to be pulled into any application to provide a /docs
 * route for documentation. Many apps will have their own application.hbs defined
 * with headers/sidebars etc. We use this div to create a 'full page modal' that
 * effectively overlays the fountainhead application on top of the entire viewport
 *
 * Note that this overlay has z-index 2 by default, if your application uses
 * absolute positioning for app level menus/sidebars you can update this
 * as needed.
 */
.fh-page-in-page-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $fh-body-background;
  overflow: auto;
  z-index: $fh-page-in-page-index;
}

// Flexbox spell for a sticky footer and full height content container
.fh-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .container-fluid {
    flex: 1;
    margin-left: initial;
    margin-right: initial;
  }
}

// Show/Hide Classes
// -----------------------------------------------------------------------------

span[aria-hidden="true"],
div[aria-hidden="true"],
li[aria-hidden="true"] {
  display: none;
  pointer-events: none;
  visibility: hidden;
}
span[aria-hidden="false"],
div[aria-hidden="false"],
li[aria-hidden="false"] {
  display: block;
  pointer-events: auto;
  visibility: visible;
}
span[role="presentation"],
div[role="presentation"],
li[role="presentation"] {
  display: initial;
  pointer-events: auto;
  visibility: visible;;
}


// Link Buttons
// ---------------------------------------------------------------------------
.btn-link {
  font-weight: normal;
  color: $anchor-font-color;
  border-radius: 0;
  margin: 0;
  padding: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $anchor-font-color-hover;
    text-decoration: underline;;
    background-color: transparent;
  }
}

// Fix skeleton buttons being janky
// ---------------------------------------------------------------------------
button {
  line-height: 1;
  height: auto;
  padding: 0.6rem 2rem;
  text-transform: none;
  font-size: 1rem;
}
