// ========================================================
// Fountainhead Application Styles
// ========================================================

/*
 * Styles that apply to the fountainhead application wrappers or across multiple
 * components should be located here
 */

/*
 * Fountainhead is intended to be pulled into any application to provide a /docs
 * route for documentation. Many apps will have their own application.hbs defined
 * with headers/sidebars etc. We use this div to create a 'full page modal' that
 * effectively overlays the fountainhead application on top of the entire viewport
 *
 * Note that this overlay has z-index 2 by default, if your application uses
 * absolute positioning for app level menus/sidebars you can update this
 * as needed.
 */
.fh-page-in-page-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $fh-body-background;
  overflow: auto;
  z-index: $fh-page-in-page-index;
}

// Container wrapping the sidebar and content containers
.fh-container {
  display: flex;
  flex: 1;
  margin: 0;
}

// fh-container is flex, we want the sidebar to keep width and allow main-content
// to expand to fill container
.fh-sidebar-container { flex: 0; }
.fh-content-container { flex: 1; }

// Constrain the content.
// TODO: Handle updating to lego padding
.fh-content {
  padding: 40px 75px 40px;
  max-width: 1000px;
}

// Lego style whitespace rules
// ---------------------------------------------------------------------------
.fh-wrapper,
.fh-element {
  padding: 15px;
}

// Github Octocat corner SVG
// ---------------------------------------------------------------------------
.octocat {
  color: $white;
  fill: $primary;
  height: 62.5px;
  position: fixed;
  right: 0;
  top: 0;
  width: 62.5px;
}

.octocat-arm, .octocat-body {
  fill: $white;
}

// Landing Page Message
// ---------------------------------------------------------------------------
.fh-landing {
  max-width: 75%;
  margin: 0 auto;
  display: block;
}
