// ========================================================
// Code Samples
// ========================================================

.fh-page-in-page-wrapper {
  code {
    color: $code-color;
    padding: 2px 4px;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background-color: $code-bg;
    border: $code-border;
    border-radius: $radius;
    white-space: nowrap;
    font-family: $font-family-mono;
  }

  // Addon styles for regular and prism blocks
  pre,
  pre[class*="language-"] {
    margin-bottom: 22px;

    & > code {
      margin: 0;
      padding: 0;
    }
  }

  // Do not interfer with PrismJS styles
  pre:not([class*="language-"]) {
    padding: 1rem 1.5rem;
    border: $block-code-border;
    background-color: $block-code-bg;
    border-radius: $radius;
    overflow: auto;

    & > code {
      background-color: $block-code-bg;
      border: none;
      color: inherit;
      display: block;
      font-size: 80%;
      padding: 0;
      white-space: pre;
    }
  }
}
