// ========================================================
// Code Samples
// ========================================================

.fh-page-in-page-wrapper {
  code {
    color: $code-color;
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background-color: $code-bg;
    border: $code-border;
    border-radius: 4px;
    white-space: nowrap;
    font-family: $font-family-mono;
    -webkit-font-smoothing: antialiased;
  }

  pre,
  pre[class*="language-"] {
    margin-bottom: 22px;
  }

  // Do not interfer with PrismJS styles
  pre:not([class*="language-"]) {
    padding: 1rem 1.5rem;
    border: $block-code-border;
    background-color: $block-code-bg;
    border-radius: 4px;
    overflow: auto;

    & > code {
      background-color: $block-code-bg;
      border: none;
      color: inherit;
      display: block;
      font-size: 80%;
      white-space: pre;
    }
  }
}
