// ========================================================
// Typography
// ========================================================

// Headings
// -----------------------------------------------------------------------------

.fh-page-in-page-wrapper {
  h1, h2, h3, h4 {
    color: $charcoal;
    font-family: $font-family;
    letter-spacing: 0;
    margin-bottom: .5rem;
    margin-top: .2rem;
    text-rendering: optimizeLegibility;
  }

  h1 { font-size: $h1-size; line-height: 1.25; }
  h2 { font-size: $h2-size; line-height: 1.333; }
  h3 { font-size: $h3-size; line-height: 1.5; }
  h4 { font-size: $h4-size; line-height: 1.166; }

  // Header weights
  h1, h2, h3 { font-weight: 300; }
  h4 { font-weight: bold }
}

// Anchors
// -----------------------------------------------------------------------------

.fh-page-in-page-wrapper {
  a {
    font-family: $font-family;
    font-size: $base-font-size * 1px;
    text-decoration: none;
    color: $link-color;
    cursor: pointer;

    &:visited {
      text-decoration: none;
      color: $link-color;
    }

    &:hover,
    &:active,
    &:focus {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}

// Paragraphs, Body Copy, Decorative Classes
// -----------------------------------------------------------------------------

.fh-page-in-page-wrapper {
  p, li, small {
    color: $onyx;
    font-family: $font-family;
    font-size: $base-font-size * 1px;
  }

  p {
    margin: 3px 0 22px;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
  }

  small {
    font-size: .85rem;
    line-height: 1.15rem;
  }

  button {
    font-family: $font-family;
    font-size: $base-font-size * 1px;
  }
}

// Utility Classes
// -----------------------------------------------------------------------------

.fh-page-in-page-wrapper {
  .lowercase { text-transform: lowercase; }
  .uppercase { text-transform: uppercase; }

  .bold { font-weight: bold; }
  .normal { font-weight: normal; }

  .align-right { text-align: right; }
  .align-center { text-align: center; }
  .align-left { text-align: left; }
}
