// ========================================================
// Fountainhead Utility Classes
// ========================================================


// Show/Hide Classes
// -----------------------------------------------------------------------------

span[aria-hidden="true"],
div[aria-hidden="true"],
li[aria-hidden="true"] {
  display: none;
  pointer-events: none;
  visibility: hidden;
}
span[aria-hidden="false"],
div[aria-hidden="false"],
li[aria-hidden="false"] {
  display: block;
  pointer-events: auto;
  visibility: visible;
}
span[role="presentation"],
div[role="presentation"],
li[role="presentation"] {
  display: initial;
  pointer-events: auto;
  visibility: visible;;
}

// Link Buttons
// ---------------------------------------------------------------------------
button.btn-link {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;;
    background-color: transparent;
  }
}
