// ========================================================
// Fountainhead Utility Classes
// ========================================================


// Show/Hide Classes
// -----------------------------------------------------------------------------

.fh-page-in-page-wrapper {
 *[aria-hidden="true"] {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  *[aria-hidden="false"] {
    display: block;
    visibility: visible;
    pointer-events: auto;
  }
  *[role="presentation"] {
    display: initial;
    visibility: visible;
    pointer-events: auto;;
  }
}

// Spacing
// ---------------------------------------------------------------------------

.fh-element, .fh-element-container {
  padding: 15px;
}

.fh-element-full-row {
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 30px;
  padding-left: 30px;
}

// Link Buttons
// ---------------------------------------------------------------------------
.fh-button.btn-link {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-weight: normal;
  color: $link-color;
  cursor: pointer;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    background-color: transparent;
    color: $link-hover-color;
    text-decoration: underline;;
  }
}
