// ========================================================
// Variables
// ========================================================

// Z-Indices
// ---------------------------------------------------------------------------
$fh-page-in-page-index: 2;

// Elements
// -----------------------------------------------------------------------------
$box-shadow: 0 2px 6px #aca8a5;
$radius: 3px;
$light-border: #e0e0df;

// Typography
// -----------------------------------------------------------------------------
$base-font-size: 14;
$font-family: 'Lato', Arial, sans-serif;
$font-family-mono: 'Source Code Pro', monospace;
$anchor-font-color: #1EAEDB;
$anchor-font-color-hover: #0FA0CE;

$h1-size: 48 / $base-font-size;
$h2-size: 36 / $base-font-size;
$h3-size: 24 / $base-font-size;
$h4-size: 18 / $base-font-size;

// Code Blocks
// ---------------------------------------------------------------------------
$code-color: #c7254e;
$code-bg: #f9f2f4;
$code-border: 1px solid $light-border;

$block-code-border: 1px solid #e1e1e1;
$block-code-bg: #f1f1f1;


// ========================================================
// Colors
// ========================================================

$black: #000;
$white: #fff;

// New Greys
$dark-gray: #2b2b2b;
$gray-1: #6d6964;
$gray-2: #999591;
$gray-3: #c2bfbd;
$gray-4: #e0e0df;
$light-gray: #f1f1f1;

$border-color: #f1f1f1;

// Blues
$primary-blue: #3486c0;
$teal: #074e68;
$dark-blue: #32639a;
$light-blue: #b8d8f8;

// Status Colors
$red: #ee0032;
$orange: #ff8b00;
$green: #31a271;

// Color Element Variables
$fh-body-background: $white;
