<div class="logo-home">
  {{#link-to 'index'}}
    <img src="{{if logo logo "/assets/img/ember-logo.png"}}" class="docs-logo" alt="project logo" title="" />
  {{/link-to}}
</div>

{{#if repository}}
  <div class="github-link">
    <a href="{{projectUrl}}" target="_blank" title="" class="project-source-link"></a>
  </div>
{{/if}}
