// ========================================================
// Landing Page Styles
// ========================================================

// Home page hero
// ---------------------------------------------------------------------------
.hero {
  background-color: #50676B;
  color: #E6E6E6;
  display: flex;
  width: 100%;
  padding: 100px;
}

.hero-wrapper {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.logo,
.message {
  display: inline-block;
}

.logo {
  float: left;
  position: relative;
  top: 12px;
}

.message {
  h1 {
    display: inline-block;
    font-size: 70px;
    margin-bottom: 0;
  }
}

// Links wrapper
.hero-links {
  margin-top: 35px;
}

// Individual hero link - looks like a button
.hero-link {
  color: $white;
  font-size: 18px;
  padding: 8px 24px 9px;
  border: 2px solid $white;
  margin: 10px 5px;
  border-radius: 4px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

// Logo
// ---------------------------------------------------------------------------
.document-logo {
  width: 140px;
  height: 140px;

  .outline {
    fill: #E6E6E6;
  }

  .line-a { fill: #ffcc95; }
  .line-b { fill: #FF9AC1; }
  .line-c { fill: #7cfce9; }
  .line-d { fill: #6FC1FF; }
  .line-e { fill: #B084EB; }
}

// Feature show case divs
// ---------------------------------------------------------------------------

// Wrapper for showcases
.landing-features-container {
  max-width: 800px;
  margin: 0 auto;
}

// Individual showcase box
.feature {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid $border-color;
  margin: 40px 0;

  &:last-of-type {
    border-bottom: none;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  // When a showcase has no logo, make title 1/3 width and fill the rest w/ description
  &.no-logo {
    .title { width: 30%; }
    .description { flex: 1; }
  }
}
