// ========================================================
// Simple Theme Variables
// ========================================================

// Z-Indices
// ---------------------------------------------------------------------------
$fh-page-in-page-index: 2;

// Element Variables
// -----------------------------------------------------------------------------
$radius: 3px;

// Typography
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$base-font-size: 14;
$font-family: 'Libre Franklin', Arial, sans-serif;
$font-family-mono: 'Source Code Pro', monospace;
$anchor-font-color: #1EAEDB;
$anchor-font-color-hover: #0FA0CE;

$h1-size: 48px;
$h2-size: 36px;
$h3-size: 24px;
$h4-size: 18px;


// ========================================================
// Colors
// ========================================================

$black: #000;
$white: #fff;

// Grays - Use names for scalability
$onyx: #2b2b2b;
$charcoal: #4B4B4B;
$battleship: #6d6964;
$rhino: #7A8288;
$argent: #c2bfbd;
$ash: rgba(224, 224, 224, 0.65);
$smoke: #f1f1f1;

// Branding
$primary: #253B52;

// Status Colors
$alert: #D9534F;
$warning: #FCF8E3;
$success: #93C54B;

// Links
$link-color: #3F61A1;
$link-hover-color: darken($link-color, 15%);

// Deprecation warnings
$deprecated-bg: $warning;
$deprecated-color: #8A6D3B;
$deprecated-border: #FAEBCC;

// Misc
$fh-body-background: $white;
$border-color: $smoke;

// Code Blocks
// ---------------------------------------------------------------------------
$code-color: #c7254e;
$code-bg: #f9f2f4;
$code-border: 1px solid #f1f1f1;

$block-code-border: 1px solid #e1e1e1;
$block-code-bg: #f1f1f1;
