// ========================================================
// Simple Theme Variables
// ========================================================

// Z-Indices
// ---------------------------------------------------------------------------
$fh-page-in-page-index: 2 !default;

// Element Variables
// -----------------------------------------------------------------------------
$radius: 3px !default;

// Typography
// -----------------------------------------------------------------------------
$base-font-size: 14 !default;
$font-family: 'Libre Franklin', Arial, sans-serif !default;
$font-family-mono: 'Source Code Pro', monospace !default;

$h1-size: 48px !default;
$h2-size: 36px !default;
$h3-size: 24px !default;
$h4-size: 18px !default;


// ========================================================
// Colors
// ========================================================

$black: #000 !default;
$white: #fff !default;

// Grays - Use names for scalability
$onyx: #2b2b2b !default;
$charcoal: #4B4B4B !default;
$battleship: #6d6964 !default;
$rhino: #7A8288 !default;
$argent: #c2bfbd !default;
$ash: rgba(224, 224, 224, 0.65) !default;
$smoke: #f1f1f1 !default;

// Branding
// $primary: #253B52 !default;
$primary: #3E4855 !default; // rgb(62,72,85)
$primary-bg: rgba(62, 72, 85, 0.3) !default;
// $primary: #6B8C92 !default;
// $primary: #50676B !default;
// $primary: #60628B !default;

// Status Colors
$alert: #D9534F !default;
$warning: #FCF8E3 !default;
$success: #93C54B !default;

// Links
$link-color: #3F61A1 !default;
$link-hover-color: darken($link-color, 15%) !default;

// Deprecation warnings
$deprecated-bg: $warning !default;
$deprecated-color: #8A6D3B !default;
$deprecated-border: #FAEBCC !default;

// Misc
$fh-body-background: $white !default;
$border-color: $smoke !default;

// Code Blocks
// ---------------------------------------------------------------------------
$code-color: #c7254e !default;
$code-bg: #f9f2f4 !default;
$code-border: 1px solid #f1f1f1 !default;

$block-code-border: 1px solid #e1e1e1 !default;
$block-code-bg: #f1f1f1 !default;

// Fonts
// ---------------------------------------------------------------------------

// Libre Franklin
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U7xHoxYlEhdfxgPTmEO-jGTc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U77v_weys7n7jZxU_6MdmmbI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// Source Code Pro
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD4a1YDtoarzwSXxTHggEXMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
