// ========================================================
// Document Class Item
// ========================================================
.class-item {
  margin: 3em 0 0;
  padding: 0 0 2.5em;
  border-bottom: 1px solid #ACACAC;
}
