// ========================================================
// Fountainhead Alerts
// ========================================================

.fh-alert {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;

  > p,
  > ul {
    margin-bottom: 0;
  }

  &.alert-dismissible {
    padding-right: (1rem + 1.5);

    .close {
      color: inherit;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: darken(adjust-hue(#f2dede, -10), 5%);
  }
}
