// ========================================================
// Addon Footer Styles
// ========================================================

.fh-addon-footer {
  background: $primary;
  padding: 50px 5rem;

  p {
    color: $white;
  }
}
