// ========================================================
// Addon Footer Styles
// ========================================================

.fh-addon-footer {
  background: $primary;
  padding: 25px 5rem;

  p {
    color: $white;
    margin-bottom: 0;
  }
}
