// ========================================================
// Guide Page Navigation
// ========================================================

.fh-guide-navigation {
  padding-left: 2em;

  .guide-link {
    display: flex;
    padding: 0.5em 0;
  }
}
