// ========================================================
// Guide Pages Styles
// ========================================================

// Page wrapper
.guide-page {
  display: flex;
}

.page-title {
  background-color: $primary;
  padding: 100px;
  width: 100%;
  margin-bottom: 30px;

  h1 { color: $white; }
}

// Page content wrapper
.guide-content {
  width: 800px;
  margin-left: 200px;

  .section-header {
    margin: 60px 0;
  }

  h2 {
    border-bottom: 1px solid $ash;
    // Mix padding with margin so that when you click on header anchor to copy to
    // clipboard, there is still some whitespace above header
    padding-top: 1em;
    margin-top: 0.5em;
  }

  small {
    color: $rhino;
  }

}
