// Header
// =============================================

.fh-header {
  display: flex;
  background: $dark-gray;
  color: $white;
  padding: 1rem 5rem;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;

  .logo-home {
    max-width: 200px;
  }

  .docs-logo {
    max-height: 50px;
  }

  .docs-github-link {
    color: $white;

    a {
      color: $white;
    }

    svg {
      fill: currentColor;
    }
  }
}
