// ========================================================
// Sidebar
// ========================================================

.fh-sidebar {
  width: 375px;
  min-height: 100vh;
  background-color: $primary-bg;

  position: relative;
  height: 100%;
  padding-bottom: 104px; // Height of made-with div


  // Project Logo
  // ---------------------------------------------------------------------------
  .project-logo-wrapper {
    background: $primary;
    margin-bottom: 4px;
    border-bottom: 4px solid $primary-bg;
  }

  .logo-link {
    display: block;
    width: 100%;
    text-align: center;
  }

  .project-logo {
    margin: 0 auto;
    max-width: 200px;
  }

  // Made with message at bottom
  // ---------------------------------------------------------------------------
  .made-with-wrapper {
    background: $primary;
    padding: 30px;
    width: 100%;

    height: 104px;
    position: absolute;
    bottom: 0;
  }

  .made-with {
    color: $white;
    margin: 0 auto;
    text-align: center;
  }

  // Sidebar contents && groups
  // ---------------------------------------------------------------------------

  .section-header {
    background-color: $primary;
    color: $white;
    margin-top: 0;
    margin-bottom: -1px;
    border-bottom: 1px solid $primary;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
  }

  // sidebar ul
  .item-group {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // sidebar ul li
  .item-group-item {
    padding: 0;
    margin: 0;
  }

  // sidebar ul li a
  .item-link {
    border-bottom: 1px solid $primary;
    display: block;
    font-size: 13px;
    padding: 10px 20px 10px 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background-color: $ash;
      color: $link-color;
    }

    &.active {
      background-color: $white;
    }

    &:focus {
      text-decoration: none;
    }
  }
}
