{{docs-header logo=model.logo repository=model.repository}}

<main>
  <div>
    {{! ------------------------------------------------------------------- }}
    {{! If there are classes, there is data for the sidebar
    {{! ------------------------------------------------------------------- }}
    {{#if model.classes}}
      {{docs-sidebar docsItems=model}}
    {{/if}}
  </div>

  {{! ------------------------------------------------------------------- }}
  {{! Show a doc page when model exists (model=some doc)
  {{! ------------------------------------------------------------------- }}
  <div>
    {{#if model}}
      {{! @TODO rename content to doc? }}
      {{fountain.doc-page content=model}} {{!-- @TODO: Figure out what to actually do with this 😑 --}}
    {{/if}}
  </div>
</main>
