{{docs-header projectName=model.projectName projectUrl=model.projectUrl}}

<main>
  <div>
    {{#if model}}
      {{docs-sidebar docsItems=model}}
    {{/if}}
  </div>
  <div>
    {{docs-page}} {{!-- @TODO: Figure out what to actually do with this 😑 --}}
  </div>
</main>
