{{docs-header logo=model.logo repository=model.repository}}

<main>
  <div>
    {{! Check for a docs classes to know if data is available for sidebar }}
    {{#if model.classes}}
      {{docs-sidebar docsItems=model}}
    {{/if}}
  </div>
  <div>
    {{#if model}}
      {{docs-page content=model}} {{!-- @TODO: Figure out what to actually do with this 😑 --}}
    {{/if}}
  </div>
</main>
