// Code Sample Styles
// =============================================

code {
  padding: 1px 3px;

  background: #F9F9F9;
  border: 1px solid #E8E8E8;

  font-family: Monaco,Menlo,Consolas,"Courier New",monospace!important;
  font-size: 0.8rem;
  color: #CC2255;

  white-space: normal;
}

// hljs === highlight js code blocks
pre.hljs {
  border-radius: 4px;
  font-size: 0.85rem;
  line-height: 1.2;
  margin: 1rem 0;

  code {
    background: #3f3f3f;
    border-color: transparent;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
}
