{{! @TODO Handle Class/Module/Namespace }}
{{name}} Class
<small>
  {{! @TODO: Link component needed to handle external vs internal file links }}
  <a class="source-icon" href="file/{{file}}" target="_blank">[source]</a>
</small>
