<div class="hero">
  <div class="hero-wrapper">
    <div class="logo">
      <svg class="document-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="32" viewBox="0 0 24 32">
        <path class="outline" d="M16,1.82,22.39,9H16.5c-.22,0-.5-.42-.5-.75Z"/>
        <path class="outline" d="M24,9.45a.48.48,0,0,0,0-.07.49.49,0,0,0-.09-.19v0l-8-9h0A.49.49,0,0,0,15.64,0h-.06L15.5,0H1.5A1.5,1.5,0,0,0,0,1.5v29A1.5,1.5,0,0,0,1.5,32h21A1.5,1.5,0,0,0,24,30.5V9.5S24,9.47,24,9.45Zm-1,21a.5.5,0,0,1-.5.5H1.5a.5.5,0,0,1-.5-.5V1.5A.5.5,0,0,1,1.5,1H15V8.25A1.73,1.73,0,0,0,16.5,10H23Z"/>
        <path class="line-a" d="M5.5,14h13a.5.5,0,0,0,0-1H5.5a.5.5,0,0,0,0,1Z"/>
        <path class="line-b" d="M5.5,18h13a.5.5,0,0,0,0-1H5.5a.5.5,0,0,0,0,1Z"/>
        <path class="line-c" d="M5.5,10h6a.5.5,0,0,0,0-1h-6a.5.5,0,0,0,0,1Z"/>
        <path class="line-d" d="M5.5,22h13a.5.5,0,0,0,0-1H5.5a.5.5,0,0,0,0,1Z"/>
        <path class="line-e" d="M5.5,26h13a.5.5,0,0,0,0-1H5.5a.5.5,0,0,0,0,1Z"/>
      </svg>
    </div>
    <div class="message">
      <h1>Ember<br>Fountainhead</h1>
      <br>
      <span class="italic">Create beautiful, dynamic documentation.</span>
      <div class="hero-links">
        {{link-to 'Getting Started' 'guides' 'getting-started' classNames='hero-link'}}
        {{link-to 'Demo' 'docs' classNames='hero-link'}}
      </div>
    </div>
  </div>
</div>

<div class="landing-features-container fh-wrapper">
  <div class="feature no-logo">
    <div class="description fh-element">
      <p>Does your Ember project have collaborators? Does your project have users? If so, then Ember Fountainhead is for you! Great documenation helps contributors navigate your codebase and make smarter pull requests. It helps users understand your API and easily troubleshoot issues. Great documentation makes your project more accessible to everyone.</p>

      <p>Ember Fountainhead is an Ember addon that generates and renders documentation in a modern, readable interface. It is designed to be drop in ready with the ability for full customization through exported components and parsing configuration.</p>
    </div>
    <h4 class="uppercase text-center fh-element title">Is Ember Fountainhead for you?</h4>
  </div>

  <div class="feature">
    <div class="fh-element">
      <img src="gears.svg" class="logo">
    </div>
    <div class="fh-element">
      <h4 class="uppercase">Runtime Template Compilation</h4>
      <p>Documentation in Fountainhead is compiled to Glimmer templates and registered with your application at during run time.This means that you are not limited to a pre defined set of addon components in your documentation. Any component from <strong>your</strong> application can be included as a live example in your documentation.</p>
    </div>
  </div>

  <div class="feature">
    <div class="fh-element">
      <h4 class="uppercase">Fully Customizable && Extendable</h4>
      <p>Fountainhead's interface is a set of components exported with the addon. This makes it easy to customize any part of the documentation by extending one of the addon components. Combined with YUIDoc's custom tag parsing Fountainhead is a platform that you can build any feature on top of.</p>
    </div>
    <div class="fh-element">
      <img src="expand.svg" class="logo">
    </div>
  </div>

  <div class="feature no-logo">
    <h4 class="uppercase text-center fh-element title">Additional Features</h4>
    <ul class="list-unstyled">
      <li>Comment parsing using YUIDoc syntax</li>
      <li>Dynamic documentation driven by your Ember application</li>
      <li>Markdown parsing at build time</li>
      <li>Code highlighting using <a href="http://prismjs.com/" target="_blank">Prism</a></li>
      <li>Descriptions are compiled to Glimmer templates at runtime</li>
    </ul>
  </div>
</div>
